.content {
  position: relative;
  height: 100vh;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding: 10px; 
  margin-bottom: 10px; 
  border: 5px double #333333;
}

.background .ground {
  position: absolute;
  text-align: center;
  top: 50%;
  font-size: 24px;
}

.background .scene {
  position: absolute;
}

.background #a {
  top: 25%;
}

.background #b {
  top: 15%;
}

.player {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
}